// Projects.scss
.projects-container {
    padding: 5rem 1rem;
    background-color: transparent;
    color: white;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }
  
  .project-card {
    background-color: #061d37;
    padding: 2rem;
    border-radius: 1rem;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  