.hero-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
    text-align: center;
    overflow: hidden;
    font-size: x-large;
    .hero-content {
      z-index: 1;
    }
  
    .avatar-image {
      margin-top: 2rem;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid #007bff;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  