// Skills.scss
.skills-container {
    padding: 5rem 1rem;
    background-color: transparent;
    color: white;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 2rem;
  }
  
  .skill-card {
    background-color: #061d37;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
    &:hover {
      transform: translateY(-10px);
    }
  }
  