// Experience.scss
.experience-container {
    padding: 5rem 1rem;
    background-color: transparent;
    color: white;
  }
  
  .timeline {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .timeline-item {
    background-color: #061d37;
    padding: 1.5rem;
    border-radius: 0.5rem;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -10px;
      top: 0;
      height: 100%;
      width: 2px;
      background-color: #555;
    }
  }
  