@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #0a0a2a 0%, #000000 100%);
    color: white;
    overflow-x: hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  
}  
